div(ng-app='ng-app')
  div(ng-controller='ProjectCtrl')
    h2(class='project')
      {{project.title}}
    span(class='project-details')
      p
        {{project.repository}}
      p
        {{outdatedCount()}} outdated,
        {{notCheckedCount()}} not checked of
        {{packages.length}} packages
    table(class='table')
      thead
        tr
          th Package
          th Version
          th Last Version
          th Status
      tbody
        tr(ng-repeat='package in packages')
          td
            {{package.name}}
          td
            {{package.version}} 
          td
            {{package.last_version || '-'}} 
          td
            span(class='{{package.status | statusIcon}}')
            {{package | statusDescription}}
